# Python
*.pyc
__pycache__/

# Django
db.sqlite3
staticfiles/
static/

# Environments
env/
venv/
.venv/
.env
*.env

# GCP
*.log

# OS
.DS_Store

# IDEs
.vscode/
.idea/

college_data/
courses_data/
exams_data/
colleges/scripts/imp.py
colleges/scripts/colleges_list.py
colleges/scripts/exams_list.py
colleges/scripts/branch_list.py
colleges/scripts/sinc_colleges.py


# Node
frontend/node_modules/

# Next.js build output
frontend/.next/
frontend/out/

# Turbopack cache
frontend/.turbo/

# System files
frontend/.DS_Store

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Environment variables
frontend/.env
frontend/.env.*  # for files like .env.local, .env.production, etc.

# IDE/editor folders
frontend/.vscode/
frontend/.idea/