# Python
*.pyc
__pycache__/

# Django
db.sqlite3
staticfiles/
static/

# Environments
env/
venv/
.venv/
.env
*.env

# GCP
*.log

# OS
.DS_Store

# IDEs
.vscode/
.idea/

college_data/
courses_data/
exams_data/
colleges/scripts/imp.py
colleges/scripts/colleges_list.py
colleges/scripts/exams_list.py
colleges/scripts/branch_list.py
colleges/scripts/sinc_colleges.py


node_modules/